[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
opencv-python = "*"
tqdm = "*"
pygame = "*"
moviepy = "*"
tkinterdnd2 = "*"
ffmpeg-python = "*"

[dev-packages]
ipykernel = "*"
notebook = "*"
argparse = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.10"
